# PostgreSQL
POSTGRES_USER=deuser
POSTGRES_PASSWORD=depassword
POSTGRES_OLTP_DB=ecommerce_oltp

# ClickHouse (OLAP)
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_STAGING_DB=staging
CLICKHOUSE_ANALYTICS_DB=analytics

# Airflow — Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=your_fernet_key_here
